$card-max-width: max(280px, 30vw);
$card-background-color: #fff;
$card-border-color: #ade1dd;
$card-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
$goal-hover-background: rgba(204, 239, 236, 0.25);
$divider-color: rgba(0, 0, 0, 0.15);

.widget-container {
  height: 100%;
  overflow:visible;
}

.responsive-goal-titles {
  display: none;
}

.quarterly-goals-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 0px 0px 10px;

  .goal-titles {
    display: flex;
    width: 100%;

    .quarterly-goals {
      margin: 0;
      font-weight: 400;
      font-size: 28px;
    }

    .edit-quarterly-goals {
      background: none;
      border: none;
      align-self: flex-end;
      justify-self: flex-end;
      margin-left: auto;

      .edit-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .goal-time {
    margin-top: 20px;
    font-weight: bold;
    font-size: 21px;
  }
}


.goal-list {
  font-family: 'Oxygen', sans-serif;
  flex: 1;
  margin-top: 12px;
  max-height: 280px;

  .goal-content {
    padding: 0;
    max-height: 250px;
    overflow-y: auto;

    .goal-detail {
      display: flex;
      width: inherit;
      margin: 0;
      padding: 4px 0px;
      border-bottom: 1px solid $divider-color;
         
      &:hover {
        background: $goal-hover-background;
      }

      .check-box {
        margin: 0;
      }
      .goal-title {
        margin: 0;
        font-size: 16px;
        padding: 10px 0px 4px 0px;
      }
      .bottom-row {
        display: flex;
        .goal-count {
            margin-left: auto;
            margin-right: 16px;
        }
      }
      .goal-hashtag {
        font-size: 13px;
        font-weight: 400;
      }
      .goal-details {
        cursor: pointer;
        flex: 1;
        width: 100%;
      }
      label.mdc-label{
        cursor: pointer;
        flex: 1;
      }
    }
  }
}

.add-goal-button {
    cursor: pointer;
        display: flex;
        padding-left: 4px;
    .add-goal {
        color: #5A5A5A;
        font-family: 'Oxygen';
        font-size: 16px;
        letter-spacing: 0px;
      }

}

/** For switching to smaller screens with tabs */
@media (max-width: 850px) {
.responsive-goal-titles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .goal-time{
    margin-top: 0;
  }
  .edit-quarterly-goals {
    background: none;
    border: none;

    .edit-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
.desktop-goal-titles {
  display: none;
}
}
