@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  font-family: Montserrat;
}

.widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 19px 23px 27px 26px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #d3e1da;
  border-radius: 10px;

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 14px;

    .title {
      font-weight: 600;
      font-size: 22px;
      color: #ee8b72;
      margin-bottom: 8px;
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    flex-shrink: 0;
    height: 180px;

    .task {
      display: flex;
      flex-direction: row;
      margin-bottom: 29px;

      .line-1 {
        background-color: #ee8b72;
        margin-right: 13px;
        align-self: center;
        width: 2px;
        height: 66px;
      }

      .line-2 {
        background-color: #ee8b72;
        margin-right: 13px;
        align-self: center;
        width: 2px;
        height: 89px;
      }

      .year {
        color: #ee8b72;
        font-weight: 600;
        font-size: 18px;
        text-overflow: wrap;
        align-self: center;
        max-height: 23px;
        overflow-y: auto;
        line-height: 22px;
      }

      .text {
        color: #4b5853;
        font-weight: 500;
        font-size: 16px;
        text-overflow: wrap;
        align-self: center; 
        max-height: 41px;
        overflow-y: auto;
        line-height: 20px;
      }
    }
  }

  .pencil {
    display: flex;
    flex-shrink: 0;
    align-self: flex-end;
    margin-top: auto;
    cursor: pointer;
    filter: invert(51%) sepia(37%) saturate(3281%) hue-rotate(330deg) brightness(146%) contrast(87%);
  }
}