<!-- <div class="widget" *ngIf="longTermData"> --> <!-- Commented out so that widget shows, allowing long term goals to be edited -->
<div class="widget">
  <div class="title">Long-term Goals</div>
  <div class="goals">
    <!-- <div class="current-user" *ngFor="let goal of longTermData"> -->
    <div class="current-user">
      <div class="one-year">
        <div class="one-year-title">1 year</div>
        <!-- <div class="one-year-goal">{{ goal.oneYear }}</div> -->
        <div *ngIf="longTermData" class="one-year-goal">{{ longTermData.oneYear }}</div>
      </div>
      <div class="five-year">
        <div class="five-year-title">5 years</div>
        <!-- <div class="five-year-goal">{{ goal.fiveYear }}</div> -->
        <div *ngIf="longTermData" class="five-year-goal">{{ longTermData.fiveYear }}</div>
      </div>
    </div>
  </div>
  <!-- <img class="pencil" src="/assets/img/edit.svg" width="26" height="26" (click)="edit()" /> -->
  <button class="pencil" width="26" height="26" (click)="edit()">Edit</button>
</div>
