<div class="widget">
  <div class="header">
    <div class="title">{{ getTerm() }} '{{ quarterData.startTime | date:'yy' }} Goals</div>
    <div class="date">{{ quarterData.startTime | date:'M' }}/{{ quarterData.startTime | date:'d' }} - {{ quarterData.endTime | date:'M' }}/{{ quarterData.endTime | date:'d' }}</div>
  </div>
  <div class="tasks">
    <div class="task" *ngFor="let goal of quarterData.quarterGoals">
      <div class="number">{{ goal.order }}</div>
      <div class="text">{{ goal.text }}</div>
    </div>
  </div>
  <img class="pencil" src="/assets/img/edit.svg" width="26" height="26" (click)="edit()" />
</div>
