<div class="modal" *ngIf="{ loading: loading$ | async } as load">
  <ng-container *ngIf="!load.loading">
    <div class="header">
      <div class="text-header">
        <div class="title">Long-term Goals</div>
        <div class="subtitle">Plan your future</div>
      </div>
      <img class="close" src="/assets/img/close.svg" width="30" height="30" (click)="close()" />
    </div>
    <form cdkDropList (cdkDropListDropped)="drop($event)" class="tasks-form" #projectForm="ngForm" (ngSubmit)="submit()">
      <!-- ORIGINAL
      <div class="task" cdkDrag *ngFor="let goal of longTermGoalsForm">
        <img class="drag-handle" src="/assets/img/drag.svg" height="20" />
        <mat-form-field class="task-field">
          <input matInput [(ngModel)]="goal.text" name="text-{{goal.__id}}" required>
        </mat-form-field>
      </div>
      -->

      <!-- Forms show when below is used, data won't update though. So the *ngFor isn't working then? -->
      
      <div class="task" cdkDrag>
        <img class="drag-handle" src="/assets/img/drag.svg" height="20" />
        <mat-form-field class="task-field">
          <input matInput [(ngModel)]="longTermGoalsForm[0].text" name="text-{{longTermGoalsForm[0].__id}}" required>
        </mat-form-field>
        <img class="drag-handle" src="/assets/img/drag.svg" height="20" />
        <mat-form-field class="task-field">
          <input matInput [(ngModel)]="longTermGoalsForm[1].text" name="text-{{longTermGoalsForm[1].__id}}" required>
        </mat-form-field>
      </div>
      
      <button class="save" type="submit" [disabled]="!projectForm.form.valid">Save</button>
    </form>
  </ng-container>
  <ng-container *ngIf="load.loading">
    <mat-spinner [diameter]="60" [strokeWidth]="2"></mat-spinner>
    <div class="loading-label">updating goals</div>
  </ng-container>
</div>
