<article class="weekly-goals-container">
   <header class="weekly-goals-card">
     <div class="desktop-goal-titles">
       <div class="goal-titles">
         <div class="weekly-goals">Weekly Goals</div>
       </div>
       <div class="goal-time">7/7 - 7/13</div>
     </div>
   </header>
   <section class="goal-list">
       <ul class="goal-content">
         <app-weekly-goal-item/>
       </ul>
     <div class="add-goal-button">
       <button mat-button aria-label="Add goal">
         <div class="add-goal">+ Add a weekly goal</div>
       </button>
     </div>
   </section>
 </article>