/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Material widget styles that must be globally defined */

// Dialog container
.dialog-container .mat-dialog-container {
  border-radius: 10px;
}

// Drop-and-drop animations
.cdk-drag-preview {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  font-size: 15px;
  color: #4B5853;
  width: 100%;
  margin-bottom: -11px;

  .drag-handle {
    margin: 17px 7px 0 -4px;
  }

  .task-field {
    flex-grow: 1;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.task.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}
